<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<div class="content-wrapper" th:fragment="content">
    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              演示thymeleaf 入门例子
              <small> 小标题</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              <li class="active">Here</li>
          </ol>
      </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 th:utext="${'教师名字:'+teacher.name}"> 教师名字:黄柯</h3>
                <h3 th:utext="${htmlMsg}"></h3>
                <h3>[[${teacher.name}]]</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div th:object="${teacher}">
                    <div th:text="*{name}">教师名字</div>
                    <div th:text="*{id}">教师id</div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr th:each="c : ${allClazz}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.name}"></td>
                        <td th:text="${c.stucount}"></td>
                        <td th:text="${#dates.format(c.cretetime, 'yyyy-MM-dd')}"></td>
                    </tr>
                </table>
                <h1 th:if="${htmlMsg11}">本页面包含了一些废话</h1>
            </div>
        </div>


    </section>
    <!-- /.content -->
</div>



</html>