<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Starter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" th:href="@{/AdminLTE/bower_components/Ionicons/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css" th:href="@{/AdminLTE/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css" th:href="@{/AdminLTE/dist/css/skins/_all-skins.css}">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" th:href="@{/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js" th:src="@{/AdminLTE/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js" th:src="@{/AdminLTE/dist/js/adminlte.min.js}"></script>
    <script src="/static/bower_components/bootstrap-table/bootstrap-table.js"
            th:src="@{/AdminLTE/bower_components/bootstrap-table/bootstrap-table.js}"></script>
    <script src="/static/bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js"
            th:src="@{/AdminLTE/bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

    <script src="/static/bower_components/layer/layer.js"
            th:src="@{/AdminLTE/bower_components/layer/layer.js}"></script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/menu :: menu"></div>
    <div th:replace="${'/views/'+content} :: ${fragment}?${fragment}:'content'"></div>
    <!--<div th:replace="fragments/footer :: footer"></div>-->

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->



<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>